@model List<Book>
<partial name = "_Notification"/>
<h1>Here is my Book List</h1>
<a asp-controller="Book" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-square"></i> Create</a>
<table class="table table-bordered">
	<thead>
	<tr>
		<td>Title</td>
		<td>Description</td>
		<td>Author</td>
		<td>Price</td>
		<td>Category</td>
	</tr>
	</thead>
	<tbody>
		@foreach (var Book in Model)
		{
		<tr>
			<td>
				@Book.Title
			</td>
			<td>
				@Book.Description
			</td>
			<td>
				@Book.Author
			</td>
			<td>
				@Book.Price
			</td>
			<td>
				
			</td>
			<td>
					<a asp-controller="Book" asp-action="Edit" asp-route-id="@Book.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>
					<a asp-controller="Book" asp-action="Delete" asp-route-id="@Book.Id" class="btn btn-danger"><i class="bi bi-trash-fill">Delete</i>

			</a>
			</td>
		</tr>
		}
	</tbody>
	
</table>